
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="btn-group btn-group-justified">
      <a href="/rock" class="btn btn-block btn-warning"><strong>Play Rock</strong></a>
      <a href="/paper" class="btn btn-block btn-info"><strong>Play Paper</strong></a>
      <a href="/scissors" class="btn btn-block btn-success"><strong>Play Scissors</strong></a>
    </button>
  </div>
</div>

</div>

<p>
  <% if @comp_move == "Paper" %>
  <div class="row">
    <div class="col-md-offset-2 col-md-4 pic"><img src="/assets/images/paper.png" class="border" width="300"/></div>
    <div class="col-md-offset-right-2 col-md-4 pic"><img src="/assets/images/paper.png" class="border" width="300"/></div>
  </div>
  <% elsif @comp_move == "Scissors" %>
  <div class="row">
    <div class="col-md-offset-2 col-md-4 img"><img src="/assets/images/paper.png" class="border" width="300"/></div>
    <div class="col-md-offset-right-2 col-md-4"><img src="/assets/images/scissors.png" class="border" width="300"/></div>
    <% else %>
    <div class="row">
      <div class="col-md-offset-2 col-md-4"><img src="/assets/images/paper.png" class="border" width="300"/></div>
      <div class="col-md-offset-right-2 col-md-4"><img src="/assets/images/rock.png" class="border" width="300"/></div>
      <% end %>
    </p>



    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1>
            <span class="label label-primary">
              <% if @comp_move == "Paper" %>
              You tied!
            </button>
            <% elsif @comp_move == "Scissors" %>
            You lose!
            <% else %>
            You win!
            <% end %>
          </span>
        </h1>
      </div>
    </div>
  </div>
</body>
